@font-face {
    font-family: "Gill Sans Heavy";
    src: url("../assets/fonts/Gill Sans Heavy.otf");
}

main {
    background-image: url('../img/chmurki.png');
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 0px 0px 5px black, 0px 0px 5px black;
    color: white;
}

header, .md-tabs {
    background-color: #E20025 !important;
    color: #FFD900 !important;
}

h1 {
    color: white !important;
    text-align: center;
}

h2, h3 {
    background-color: #E20025;
    color: #FFD900;
    display: inline;
    text-shadow: none;
    padding: 4px;
}

li {
    list-style-type: "🤠";
}

.md-tabs__item, .md-nav__item {
    list-style-type: none;
}

.md-sidebar__scrollwrap {
    padding: 5px;
}

.md-nav__title {
    color: #FFD900 !important;
    background: #E20025 !important;
    display: inline;
    padding: 4px;
    text-shadow: none;
    box-shadow: none !important;
}

a:hover {
    color: #FFD900 !important;
    cursor: url('../img/kursor1.png'), auto !important;
}

article li a {
    color: white !important;
    margin-left: 5px !important;
}

.md-nav__link--passed {
    color: #B6B4A5;
}

.md-nav__link--active {
    color: #E20025 !important;
}

.md-header__button > img[src$="assets/images/toystorawka.png"] {
    width: 100% !important;
    height: 10% !important;
    border-radius: 10px;
}

.md-header__button {
    width: 5%;
}

.md-grid {
    max-width: 100% !important;
}

.md-nav__button > img[src="../assets/images/toystorawka.png"] {
    border-radius: 10px;
}

@media (any-pointer: fine) {
    .md-sidebar--primary {
        display: none;
    }

    .md-search__inner, .md-search__output, .md-search__scrollwrap, .md-search__form {
        background-color: rgba(0 ,0, 0, 0.2) !important;
        backdrop-filter: blur(25px) !important;
    }

    .md-search__inner {
        z-index: 2;
    }

    .md-search__overlay {
        z-index: 1;
    }

    .md-search-result__article, .md-search-result__icon {
        color: white !important;
    }

    .md-search-result__article > h2, .md-search__input, .md-search__input::placeholder, .md-search__icon, label[class="md-search__icon md-icon"], .md-search-result__meta {
        color: #FFD900 !important;
    }

    .md-nav--secondary > .md-nav__list {
        border-radius: 10px !important;
    }

    .md-nav__title {
        border-radius: 10px;
        font-size: 1.25em;
    }

    .md-header__ellipsis {
        display: flex;
        justify-content: center;
    }
}

@media not (any-pointer: fine) {
    img[alt="Buzz Astral"], [alt="Hamm"], [alt="Sztuciek"], [alt="Zurg"], [alt="Mustang"], [alt="Czarny"], [alt="Trixie"], [alt="Pan Bulwa"], [alt="Rex"] {
        display: none;
    }

    .md-search__overlay, .md-search__inner, .md-search__scrollwrap, .md-search__form {
        background-color: rgba(0 ,0, 0, 0.2) !important;
        backdrop-filter: blur(25px) !important;
    }

    .md-overlay {
        opacity: 0 !important;
    }

    .md-search-result__article, .md-search-result__icon {
        color: white !important;
    }

    .md-search-result__article > h2, .md-search__input, .md-search__input::placeholder, .md-search__icon, label[class="md-search__icon md-icon"], .md-search-result__meta {
        color: #FFD900 !important;
    }
}

img[alt="Pixar Popcorn"], img[alt="Toy Story Toons"] {
    width: 80px;
    margin-top: 20px;
    margin-bottom: -20px;
}

img[alt="Toy Story"], [alt="Toy Story 2"], [alt="Toy Story 3"], [alt="Toy Story 4"] {
    width: 160px;
    margin-top: 20px;
    margin-bottom: -20px;
}

img[alt="Buzz Astral"], [alt="Hamm"], [alt="Mustang"], [alt="Czarny"] {
    width: 387px;
    height: calc(100% - 387px);
    float: right;
    filter: drop-shadow(5px 5px 5px #222222);
}

img[alt="Sztuciek"], [alt="Zurg"], [alt="Rex"], [alt="Trixie"], [alt="Pan Bulwa"] {
    float: right;
    filter: drop-shadow(5px 5px 5px #222222);
}

.md-header__topic > .md-ellipsis {
    font-size: 150%;
}

.md-ellipsis {
    padding-left: 5px;
    padding-right: 5px;
}

.md-nav__link > .md-ellipsis {
    text-shadow: none !important;
}

li > ul > li {
    list-style-type: "⚽";
}

h3 {
    margin-top: 0% !important;
    margin-bottom: 0% !important;
}

a[href="../🎬 Filmy – Toy Story.pdf"], [href="../🎮 Gry – Toy Story.pdf"], [href="../🎧 Muzyka – Toy Story.pdf"]{
    background-color: #E20025;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    text-shadow: none;
}

a[href="../🎬 Filmy – Toy Story.pdf"]:hover, [href="../🎮 Gry – Toy Story.pdf"]:hover, [href="../🎧 Muzyka – Toy Story.pdf"]:hover {
    background-color: #FFD900;
    color: #004E98 !important;
    transition: background-color 0.5s;
}

p > a {
    color: white !important;
    text-align: left;
}

blockquote {
    color: #B6B4A5 !important;
    font-size: 80%;
    border-left: .2rem solid #B6B4A5 !important;
}

.md-sidebar--primary, .md-nav--secondary, .md-sidebar--primary .md-nav--primary {
    background-color: unset !important;
}

.md-nav--secondary > .md-nav__list {
    background-color: rgba(0 ,0, 0, 0.15) !important;
    backdrop-filter: blur(20px) !important;
    padding-top: 1px !important;
}

.md-nav--primary > .md-nav__list {
    background-color: rgba(0 ,0, 0, 0.15) !important;
    backdrop-filter: blur(20px) !important;
}

.md-nav--secondary .md-nav__list .md-nav__link {
    font-size: 62%;
}

.md-sidebar__inner .md-nav__list .md-nav__link {
    font-size: 100%;
}

mark, summary > div {
    color: #E20025 !important;
}

code {
    background-color: #1C1E1F !important;
    color: #BEB9B0 !important;
}

body, label, input {
    cursor: url('../img/kursor1.png'), auto !important;
}

a[href=""] {
    cursor: not-allowed !important;
}

.en-title {
    font-weight: normal;
    font-style: italic;
}

.en-title::before {
    content: '(';
    font-style: normal;
}

.en-title::after {
    content: ')';
    font-style: normal;
}

.en-title2 {
    font-weight: normal;
}

.en-title2::before {
    content: '[';
    font-weight: normal;
}

.en-title2::after {
    content: ']';
    font-weight: normal;
}

ul:not(.md-nav__list) > li > a, ul:not(.md-nav__list) > li > p > a {
    font-weight: bold;
}

.en-title3 {
    font-weight: normal;
}

.en-title3::before {
    content: '(';
}

.en-title3::after {
    content: ')';
}

